<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Status</title>
</head>
<body>
Bus status for {{ lat }}, {{ lon }}

<table>
    <tr>
        <td>
            <table><tr><td colspan="4">Northbound</td></tr>
            {% for item in results['Northbound'] %}
                <tr><td><a href="/detail?pid={{ item['pattern'] }}&stop_dist={{ item['stop_pattern_distance'] }}">{{ item['route'] }}</a></td>
                    <td>{{ item['last_stop_name'] }}</td>
                    <td>{{ item['mi'] }}</td>
                    <td>{{ item['estimate'] }}</td>
                </tr>
                <tr>
                    <td>Age: {{ item['age'] }}</td>
                    <td>Stop: {{ item['stop_name'] }}</td>
                    <td>walk {{ item['walk_dist'] }}mi</td>
                    <td>walk {{ item['walk_time'] }} min</td>
                </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
    <tr><td>            <table><tr><td colspan="4">Westbound</td></tr>
            {% for item in results['Westbound'] %}
                <tr><td><a href="/detail?pid={{ item['pattern'] }}&stop_dist={{ item['stop_pattern_distance'] }}">{{ item['route'] }}</a></td>
                    <td>{{ item['last_stop_name'] }}</td>
                    <td>{{ item['mi'] }}</td>
                    <td>{{ item['estimate'] }}</td>
                </tr>
                <tr>
                    <td>Age: {{ item['age'] }}</td>
                    <td>Stop: {{ item['stop_name'] }}</td>
                    <td>walk {{ item['walk_dist'] }}mi</td>
                    <td>walk {{ item['walk_time'] }} min</td>
                </tr>
            {% endfor %}
            </table>
</td>
        <td>            <table><tr><td colspan="4">Eastbound</td></tr>
            {% for item in results['Eastbound'] %}
                <tr><td><a href="/detail?pid={{ item['pattern'] }}&stop_dist={{ item['stop_pattern_distance'] }}">{{ item['route'] }}</a></td>
                    <td>{{ item['last_stop_name'] }}</td>
                    <td>{{ item['mi'] }}</td>
                    <td>{{ item['estimate'] }}</td>
                </tr>
                <tr>
                    <td>Age: {{ item['age'] }}</td>
                    <td>Stop: {{ item['stop_name'] }}</td>
                    <td>walk {{ item['walk_dist'] }}mi</td>
                    <td>walk {{ item['walk_time'] }} min</td>
                </tr>
            {% endfor %}
            </table>
</td></tr>
    <tr><td>            <table><tr><td colspan="4">Southbound</td></tr>
            {% for item in results['Southbound'] %}
                <tr><td><a href="/detail?pid={{ item['pattern'] }}&stop_dist={{ item['stop_pattern_distance'] }}">{{ item['route'] }}</a></td>
                    <td>{{ item['last_stop_name'] }}</td>
                    <td>{{ item['mi'] }}</td>
                    <td>{{ item['estimate'] }}</td>
                </tr>
                <tr>
                    <td>Age: {{ item['age'] }}</td>
                    <td>Stop: {{ item['stop_name'] }}</td>
                    <td>walk {{ item['walk_dist'] }}mi</td>
                    <td>walk {{ item['walk_time'] }} min</td>
                </tr>
            {% endfor %}
            </table>
</td></tr>
</table>
<p>
    Raw data:

    <pre>
    {{ raw }}
</pre>
</p>
</body>
</html>