<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transit realtime search</title>
</head>
<body>
<p>Choose location</p>
<form method="get" action="/estimates">
    <input type="button" value="My Location" onclick="setLocation()"/><br>
Lat: <input type="text" name="lat" id="latselect" value="41.903914"/><br/>
Lon: <input type="text" name="lon" id="lonselect" value="-87.632892"/><br/>
<input type="submit"/>
</form>

<script>
    function setPosition(position) {
        const latBox = document.querySelector('#latselect')
        const lonBox = document.querySelector('#lonselect')
        latBox.value = position.coords.latitude
        lonBox.value = position.coords.longitude
    }

    function setLocation() {
        if (navigator.geolocation) {
            position = navigator.geolocation.getCurrentPosition(setPosition)
        } else {
            console.log('no position available')
        }
    }
</script>

</body>
</html>