<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Status</title>
</head>
<body>
Bus status for {{ lat }}, {{ lon }}

<table>
    <tr>
        <td>
            <table><tr><td colspan="4">Northbound</td></tr>
            {% for item in results['Northbound'] %}
                {% include 'bus_include.html' %}
            {% endfor %}
            </table>
        </td>
    </tr>
    <tr><td>            <table><tr><td colspan="4">Westbound</td></tr>
            {% for item in results['Westbound'] %}
             {% include 'bus_include.html' %}
        {% endfor %}
            </table>
</td>
        <td>            <table><tr><td colspan="4">Eastbound</td></tr>
            {% for item in results['Eastbound'] %}
             {% include 'bus_include.html' %}
            {% endfor %}
            </table>
</td></tr>
    <tr><td>            <table><tr><td colspan="4">Southbound</td></tr>
            {% for item in results['Southbound'] %}
                {% include 'bus_include.html' %}
            {% endfor %}
            </table>
</td></tr>
</table>
<p>
    Raw data:

    <pre>
    {{ raw }}
</pre>
</p>
</body>
</html>